<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Image Format Converter</title>
	<link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>

	<div>
		<h1>Image Format Converter</h1>
		<ul>
			<li><a href="/jpgtopng">JPG to PNG converter</a></li>
			<li><a href="/pngtojpg">PNG to JPG converter</a></li>
			<li><a href="/webptopng">WEBP to PNG converter</a></li>
			<li><a href="/pngtowebp">PNG to WEBP converter</a></li>
			<li><a href="/bmptopng">BMP to PNG converter</a></li>
			<li><a href="/pngtobmp">PNG to BMP converter</a></li>
			<li><a href="/pngtogif">PNG to GIF converter</a></li>
			<li><a href="/giftopng">GIF to PNG converter</a></li>
			<li><a href="/pngtopdf">PNG to PDF converter</a></li>
		</ul>
	</div>
</body>
</html>
