<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PNG to BMP Converter</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>
    <h1>PNG to BMP Converter</h1>
    <form id="upload-form">
      <label for="image-input">Select an image:</label>
      <div id="image-preview"></div>
      <input type="file" id="image-input" accept=".png">
      <button type="submit" id="convert-btn">Convert to BMP</button>
    </form>
    <div id="error-message"></div>
    <div id="result-image"></div>
<script src="../static/scripts/pngtobmp.js"></script>
  </body>
</html>
